.godot/uid_cache.bin
.godot/editor/script_editor_cache.cfg
.godot/editor/recent_dirs
.godot/editor/project_metadata.cfg
.godot/editor/parametre.tscn-folding-96dc539f6cd929a100872f8f5147f91c.cfg
.godot/editor/parametre.tscn-editstate-96dc539f6cd929a100872f8f5147f91c.cfg
.godot/editor/parametre.gd-folding-584694d7cb990686c982f0001165aa65.cfg
.godot/editor/menu_principal.gd-folding-b2a5e332de5e97b5ac49f01603d24d92.cfg
.godot/uid_cache.bin
.godot/editor/script_editor_cache.cfg
.godot/editor/recent_dirs
.godot/editor/project_metadata.cfg
.godot/editor/game_over.tscn-folding-21b8bee24a2bf9e9929bc898cc82b612.cfg
.godot/editor/house.tscn-editstate-7ce9bf71b18cf9bdefa1b53eec1c40bf.cfg
.godot/editor/menu-principal.tscn-editstate-721c9a46c9361a9c4fe00f6fc1419198.cfg
.godot/editor/menu-principal.tscn-folding-721c9a46c9361a9c4fe00f6fc1419198.cfg
.godot/editor/project_metadata.cfg
.godot/editor/recent_dirs
.godot/editor/script_editor_cache.cfg
.godot/uid_cache.bin
.godot/editor/filesystem_update4
.godot/editor/editor_layout.cfg
.godot/editor/default_bus_layout.tres-folding-19246414aa9fb561ced4b8dce477acec.cfg
.godot/editor/credits.tscn-folding-5458de4021be8c034221a84b705724a2.cfg
.godot/editor/credits.tscn-editstate-5458de4021be8c034221a84b705724a2.cfg
.godot/editor/credits.gd-folding-b24010833858d7333463891da660f3fc.cfg
.godot/editor/filesystem_update4
.godot/editor/editor_layout.cfg
.godot/editor/editor_layout.cfg
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_update4
